{%extends 'base.html'%}
{%block title%}Documentation{%endblock%}
{%block content%}

<div class="conatiner">
    <h1>Documentation</h1>
</div>

<div class="container">
    <div class="container">
        <h3>Tasas</h3>
        <ul>
            <li><b>Fijar Tasa</b> - /tasa/set - <a href="{{url_for('main.set_tasa')}}">action</a></li>
            <li><b>Obtener Tasa</b> - /tasa/get - <a href="{{url_for('main.get_tasa')}}">action</a></li>
        </ul>
    </div>

    <div class="container">
        <h3>Registros</h3>
        <ul>
            <li>Registro de Pago</li>
            <li>Registro de Retiro</li>
        </ul>
    </div>

    <div class="container">
        <h3>Contabilidad</h3>
        <ul>
            <li>Cuenta de Caja</li>
            <li>Cuenta por cobrar a WU</li>
            <li>Cuenta por pagar a WU</li>
            <li>Diferencial Contable</li>
            <li>Sobrante de Caja</li>
            <li>Faltante de Caja</li>
        </ul>
    </div>

    <div class="container">
        <h3>Auth</h3>
        <ul>
            <li>login</li>
            <li>sign up</li>
            <li>permisos</li>
        </ul>
    </div>

    <div class="container">
        <h3>Admin</h3>
        <ul>
            <li>Delete User</li>
            <li>Modificar Permisos</li>
            <li>Pausar Aplicación</li>
        </ul>
    </div>

</div>

{%endblock%}