{%extends 'base.html'%}

{%block title%}Caja{%endblock%}

{%block content%}

<div class="container text-center mt-5">
    <h1 class="mb-4 display-3">Estado de la Caja</h1>
    <hr>
</div>

<div class="container text-center">
    <a class="btn btn-dark" href="{{url_for('main.set_caja')}}">Modificar Caja</a>
</div>

<div class="container mt-5">
    <div class="container">
        <div class="container">
            <h2 class="card-title display-6">Última Entrada - {{ caja.fecha.strftime('%Y-%m-%d %H:%M:%S') }}</h2>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 table-container">
                    <h2 class="display-5">Moneda Local</h2>
                    <p class="text-primary">Total: {{total_local}} Córdoba</p>
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>Denominación</th>
                                <th>Cantidad</th>
                                <th>Cantidad Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in moneda_local_data %}
                            <tr>
                                <td>{{ item.value }}</td>
                                <td>{{ item.amount }}</td>
                                <td>{{ item.accumulated }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 table-container">
                    <h2 class="display-5">Dolar</h2>
                    <p class="text-primary">Total: {{total_dolar}} Dólar</p>
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>Denominación</th>
                                <th>Cantidad</th>
                                <th>Cantidad Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in dolar_data %}
                            <tr>
                                <td>{{ item.value }}</td>
                                <td>{{ item.amount }}</td>
                                <td>{{ item.accumulated }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>

{%endblock%}