{% extends 'base.html' %}
{% block title %}Operaciones Airpak{% endblock %}
{% block content %}
<div class="container mb-5" id="content_operaciones_wu">
    <div class="container my-5">
        <div class="border-top my-3"></div>
        {% if ultima_tasa %}
        <div class="row">
            <h1 class="display-6">Tasas de Cambio</h1>
            <div class="col"><p>Fecha: {{ ultima_tasa.fecha.strftime('%d/%m/%Y') }}</p></div>
            <div class="col"><p>Tasa Oficial: {{ ultima_tasa.tasa_oficial }}</p></div>
            <div class="col"><p>Tasa Compra: {{ ultima_tasa.tasa_compra }}</p></div>
            <div class="col"><p>Tasa Venta: {{ ultima_tasa.tasa_venta }}</p></div>
            <div class="col"><p>Tasa WU: {{ ultima_tasa.tasa_wu }}</p></div>
        </div>
        {% endif %}
        <hr>
    </div>

    <div class="container p-3 bg-light" style="border-radius: 10px;">
        <h1 class="display-1">Operaciones Airpak</h1>
        <hr>
        <form id="OpWuForm" action="{{ url_for('main.operaciones_wu') }}" method="post" class="d-flex flex-column">
            {{ form.hidden_tag() }}

            <div class="form-group">
                <label for="tipo_operacion">Tipo de operacion</label>
                <select class="form-control" id="tipo_operacion" name="tipo_operacion">
                    <option value="egreso">egreso</option>
                    <option value="ingreso">ingreso</option>
                </select>

                <label for="codigo_mtcn">Codigo MTCN</label>
                <input type="text" class="form-control" id="codigo_mtcn" name="codigo_mtcn" placeholder="Codigo MTCN">

                <label for="transaccion">Transaccion Contable</label>
                <select class="form-control" id="transaccion" name="transaccion">
                    <option value="pago_remesa_wu_us">Pago de Remesa WU US</option>
                    <option value="pago_remesa_wu_cs">Pago de Remesa WU CS</option>
                    <option value="envio_remesa_wu_us">Envio de Remesa WU US</option>
                    <option value="envio_remesa_wu_cs">Envio de Remesa WU CS</option>
                </select>
            </div>

            <h3>Monto Transaccionado US</h3>
            <div class="form-group">
                <input type="number" class="form-control" id="montotrus" name="montotrus" placeholder="Monto de la Transaccion Dolares" step="any">
                <input type="number" class="form-control" id="montopus" name="montopus" placeholder="Monto Pago en Dolares" step="any">
            </div>

            <h3>Monto Transaccionado CS</h3>
            <div class="form-group">
                <input type="number" id="montotrcs" name="montotrcs" class="form-control" placeholder="Monto de la Transaccion en Cordobas">
                <input type="number" id="montopcs" name="montopcs" class="form-control" placeholder="Monto a pagar en Cordobas" step="any">
                <input type="hidden" id="montopcs_hidden" name="montopcs_hidden">
            </div>

            <hr>

            <div class="container">
                <h4>Detalles de Monedas</h4>
                <div class="row">
                    <!-- Entradas CS -->
                    <div class="col">
                        <h4>Entradas CS</h4>
                        {% for denomination in [1000, 500, 200, 100, 50, 20, 10, 5, 1] %}
                        <div class="form-group row">
                            <label for="montoi_{{ denomination }}_CS" class="col-sm-4 col-form-label">{{ denomination }}_CS</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="montoi_{{ denomination }}_CS" name="montoi_{{ denomination }}_CS" value="0">
                            </div>
                        </div>
                        {% endfor %}
                        <div class="form-group row">
                            <label for="total_entradas_CS" class="col-sm-4 col-form-label">Total Entradas CS</label>
                            <div class="col-sm-8">
                                <input type="hidden" id="total_entradas_CS" name="total_entradas_CS">
                                <input type="text" class="form-control" id="total_entradas_CS_display" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="cambioi_CS" class="col-sm-4 col-form-label">Cambio CS</label>
                            <div class="col-sm-8">
                                <input type="hidden" id="cambioi_CS" name="cambioi_CS">
                                <input type="text" class="form-control" id="cambioi_CS_display" disabled>
                            </div>
                        </div>
                    </div>

                    <!-- Salidas CS -->
                    <div class="col">
                        <h4>Salidas CS</h4>
                        {% for denomination in [1000, 500, 200, 100, 50, 20, 10, 5, 1] %}
                        <div class="form-group row">
                            <label for="montos_{{ denomination }}_CS" class="col-sm-4 col-form-label">{{ denomination }}_CS</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="montos_{{ denomination }}_CS" name="montos_{{ denomination }}_CS" value="0">
                            </div>
                        </div>
                        {% endfor %}
                        <div class="form-group row">
                            <label for="total_salidas_CS" class="col-sm-4 col-form-label">Total Salidas CS</label>
                            <div class="col-sm-8">
                                <input type="hidden" id="total_salidas_CS" name="total_salidas_CS">
                                <input type="text" class="form-control" id="total_salidas_CS_display" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="ajuste_CS" class="col-sm-4 col-form-label">Ajuste CS</label>
                            <div class="col-sm-8">
                                <input type="number" id="ajuste_CS" name="ajuste_CS" step="any" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="total-operacion" class="col-sm-4 col-form-label">Total Operación</label>
                            <div class="col-sm-8">
                                <input type="number" id="total-operacion" name="total-operacion" class="form-control" disabled>
                            </div>
                        </div>
                    </div>

                    <!-- Entradas US -->
                    <div class="col">
                        <h4>Entradas US</h4>
                        {% for denomination in [100, 50, 20, 10, 5, 1] %}
                        <div class="form-group row">
                            <label for="montoE_{{ denomination }}_US" class="col-sm-4 col-form-label">{{ denomination }}_US</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="montoE_{{ denomination }}_US" name="montoE_{{ denomination }}_US" value="0">
                            </div>
                        </div>
                        {% endfor %}
                        <div class="form-group row">
                            <label for="total_entradas_US" class="col-sm-4 col-form-label">Total Entradas US</label>
                            <div class="col-sm-8">
                                <input type="hidden" id="total_entradas_US" name="total_entradas_US">
                                <input type="text" class="form-control" id="total_entradas_US_display" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="cambioE_US" class="col-sm-4 col-form-label">CambioE US</label>
                            <div class="col-sm-8">
                                <input type="hidden" id="cambioE_US" name="cambioE_US">
                                <input type="text" class="form-control" id="cambioE_US_display" disabled>
                            </div>
                        </div>
                    </div>

                    <!-- Salidas US -->
                    <div class="col">
                        <h4>Salidas US</h4>
                        {% for denomination in [100, 50, 20, 10, 5, 1] %}
                        <div class="form-group row">
                            <label for="montoP_{{ denomination }}_US" class="col-sm-4 col-form-label">{{ denomination }}_US</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="montoP_{{ denomination }}_US" name="montoP_{{ denomination }}_US" value="0">
                            </div>
                        </div>
                        {% endfor %}
                        <div class="form-group row">
                            <label for="total_salidas_US" class="col-sm-4 col-form-label">Total Salidas US</label>
                            <div class="col-sm-8">
                                <input type="hidden" id="total_salidas_US" name="total_salidas_US">
                                <input type="text" class="form-control" id="total_salidas_US_display" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="ajuste_US" class="col-sm-4 col-form-label">Ajuste US</label>
                            <div class="col-sm-8">
                                <input type="number" id="ajuste_US" name="ajuste_US" step="any" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="total-operacion_us" class="col-sm-4 col-form-label">Total Operación US</label>
                            <div class="col-sm-8">
                                <input type="number" id="total-operacion_us" name="total-operacion_us" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="border-top my-3"></div>
            <input type="submit" value="Guardar" class="btn btn-primary">
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const tasaCompra = {{ ultima_tasa.tasa_compra }};
        const tasaVenta = {{ ultima_tasa.tasa_venta }};
        const tipoOperacionEl = document.getElementById('tipo_operacion');
        const montoTrUsEl = document.getElementById('montotrus');
        const montoUsEl = document.getElementById('montopus');
        const montoTrCsEl = document.getElementById('montotrcs');
        const montoCsEl = document.getElementById('montopcs');
        const montoCsHiddenEl = document.getElementById('montopcs_hidden');
        const ajusteCSEl = document.getElementById('ajuste_CS');
        const totalOperacionEl = document.getElementById('total-operacion');

        function calcularYActualizarMonto() {
            const montoTrUs = parseFloat(montoTrUsEl.value) || 0;
            const montoUs = parseFloat(montoUsEl.value) || 0;
            const montoTrCs = parseFloat(montoTrCsEl.value) || 0;
            const tipoOperacion = tipoOperacionEl.value;
            const diferencia = montoTrUs - montoUs;

            if (diferencia < 0) {
                montoCsEl.value = '0';
                montoCsHiddenEl.value = '0';
                return;
            }

            let montoCs = tipoOperacion === 'egreso' && diferencia < 0 ? Math.abs(diferencia) * tasaVenta : diferencia * (tipoOperacion === 'ingreso' ? tasaVenta : tasaCompra);
            montoCs += montoTrCs;
            montoCsEl.value = montoCs.toFixed(2);
            montoCsHiddenEl.value = montoCs.toFixed(2);
            calcularCambioICS();
            calcularAjusteCS();
            calcularCambioEUS();
            calcularAjusteUS();
        }

        montoTrUsEl.addEventListener('input', calcularYActualizarMonto);
        montoUsEl.addEventListener('input', calcularYActualizarMonto);
        montoTrCsEl.addEventListener('input', calcularYActualizarMonto);
        tipoOperacionEl.addEventListener('change', calcularYActualizarMonto);
        ajusteCSEl.addEventListener('input', calcularAjusteCS);

        function calcularTotalEntradasCS() {
            let total = 0;
            [1000, 500, 200, 100, 50, 20, 10, 5, 1].forEach(denom => {
                total += denom * (parseFloat(document.getElementById(`montoi_${denom}_CS`).value) || 0);
            });
            document.getElementById('total_entradas_CS').value = total;
            document.getElementById('total_entradas_CS_display').value = total.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2});
            calcularCambioICS();
            calcularAjusteCS();
            calcularCambioEUS();
            calcularAjusteUS();
        }

        function calcularTotalSalidasCS() {
            let total = 0;
            [1000, 500, 200, 100, 50, 20, 10, 5, 1].forEach(denom => {
                total += denom * (parseFloat(document.getElementById(`montos_${denom}_CS`).value) || 0);
            });
            document.getElementById('total_salidas_CS').value = total;
            document.getElementById('total_salidas_CS_display').value = total.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2});
            calcularCambioICS();
            calcularAjusteCS();
            calcularCambioEUS();
            calcularAjusteUS();
        }

        function calcularCambioICS() {
            const totalEntradasCS = parseFloat(document.getElementById('total_entradas_CS').value) || 0;
            const totalSalidasCS = parseFloat(document.getElementById('total_salidas_CS').value) || 0;
            const montoPCS = parseFloat(document.getElementById('montopcs').value) || 0;
            const tipoOperacion = document.getElementById('tipo_operacion').value;

            const cambioICS = tipoOperacion === 'ingreso' ? montoPCS - totalEntradasCS + totalSalidasCS : montoPCS - totalSalidasCS + totalEntradasCS;

            document.getElementById('cambioi_CS_display').value = cambioICS.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2});
            document.getElementById('cambioi_CS').value = cambioICS;
        }

        function calcularAjusteCS() {
            const totalEntradasCS = parseFloat(document.getElementById('total_entradas_CS').value) || 0;
            const totalSalidasCS = parseFloat(document.getElementById('total_salidas_CS').value) || 0;
            const montoPCS = parseFloat(document.getElementById('montopcs').value) || 0;
            const tipoOperacion = document.getElementById('tipo_operacion').value;

            const ajusteCS = tipoOperacion === 'ingreso' ? totalEntradasCS - montoPCS - totalSalidasCS : totalSalidasCS - montoPCS - totalEntradasCS;

            document.getElementById('ajuste_CS').value = ajusteCS;
            calcularTotalOperacion();
            calcularCambioEUS();
            calcularAjusteUS();
        }

        function calcularTotalOperacion() {
            const montoPCS = parseFloat(document.getElementById('montopcs').value) || 0;
            const ajusteCS = parseFloat(document.getElementById('ajuste_CS').value) || 0;
            const totalOperacion = montoPCS + ajusteCS;
            document.getElementById('total-operacion').value = totalOperacion.toFixed(2);
        }

        document.querySelectorAll('#montoi_1000_CS, #montoi_500_CS, #montoi_200_CS, #montoi_100_CS, #montoi_50_CS, #montoi_20_CS, #montoi_10_CS, #montoi_5_CS, #montoi_1_CS').forEach(el => el.addEventListener('input', calcularTotalEntradasCS));
        document.querySelectorAll('#montos_1000_CS, #montos_500_CS, #montos_200_CS, #montos_100_CS, #montos_50_CS, #montos_20_CS, #montos_10_CS, #montos_5_CS, #montos_1_CS').forEach(el => el.addEventListener('input', calcularTotalSalidasCS));

        function validarFormulario(event) {
            const ajusteCS = parseFloat(document.getElementById('ajuste_CS').value) || 0;
            if (ajusteCS > 5 || ajusteCS < -5) {
                alert("El valor del ajuste no debe ser mayor ni menor que 5, favor revisar detalle de moneda");
                event.preventDefault();
                return;
            }

            const montotrus = document.getElementById('montotrus').value;
            const montopus = document.getElementById('montopus').value;
            if (montotrus === "" || montopus === "") {
                alert("El campo 'Monto de la Transacción Dólares' y 'Monto Pago en Dólares' no pueden estar vacíos");
                event.preventDefault();
            }
        }

        document.getElementById('OpWuForm').addEventListener('submit', validarFormulario);
        calcularTotalEntradasCS();
        calcularTotalSalidasCS();
    });
</script>

{% endblock %}
